body {
    background-color: #0D0208;
    color: #008F11;
    overflow: auto;
}

h1 {
    text-align: center
}

.img-container{
    display: flex;
    justify-content: space-evenly;
}

*.img > img {
    flex: auto;
    max-width: 75%;
}

@media (max-width: 800px) {
    .img-container {
        flex-direction: column-reverse;
    }
    *.img > img {
        max-width: 100%;
    }
}



#matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(249, 3, 137, 0.17); */
}
